@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
}

.bg-image-seccion-1{
  background-image: url('./assets/images/3.jpg');
  background-size: cover;
  background-position: bottom center;
  
}

.bg-image-invierte{
  background-image: url('./assets/images/8_opt.jpg');
  background-size: cover;
  background-position: bottom center;
}

@media (max-width: 767.98px) {
  .bg-image-seccion-1 {
    background-image: url('./assets/images/banner-1-móvil.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom center;

  }
}

body {
  font-family: 'Montserrat', sans-serif!important;
}

.colorBanner{
  color:#257BAF;
}

.bg-color-banner{
  background-color: #257BAF;
}

.bg-movil{
  background-color: red;
}

.bg-amenidades {
  background-color: #F2F2F2;
}

.color-titulos {
  color: #6EC1E4;
}
.bg-btn-asesor {
  background-color:#6EC1E4 ;
}

.containerAmenidades div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.containerAmenidades div img{
  width: 6.5rem;
  aspect-ratio: 3/2;
  object-fit: contain;
  
}

.containerProducto img {
  width: 8rem;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.subrayado {
  font-weight: 600;
  color: #5DC2BA;
}

.contenedorInvertir {
  display: flex;
  justify-content: center;
}

.contenedorImagenesInvertir img {
  width: 7rem; 
  aspect-ratio: 3 / 2;
  object-fit: contain;
  
}



@media (max-width: 767.98px) {

  .imagenMapa {
    object-fit: cover;
    aspect-ratio: 3 / 2;
  }

  .imagenInvertir {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
  }

  .contenedorImagenesInvertir img {
   padding-top:0.25rem;
   padding-bottom:0.50rem;
  }


  .containerAmenidades div img {
    width: 5rem;
  }

  .containerProducto img {
    width: 7rem;
  }

}

.containerAmenidades div p {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
}

.bg-productos {
  background-color: #C6C6C6;
}

:root {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}

.inputForm input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: 2px solid #59C2BB;
 /*margin-top: 0.75rem;*/
  
  
}
.inputForm input::placeholder {
  color: #59C2BB;
}

.inputForm label {
  color:#59C2BB;
  font-weight: 600;

}

/* .bg-image-enviado { 
  background-image: url('./assets/images/fondo_enviado_opt.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
} */

.circulo_ultimosClusters {
  border-radius: 9999px;
  width: 26rem;
  height: 26rem;
  background-color: #fff;
  margin-left: -40px;
  z-index: 6;

}

.mapa {
  width: 27rem;
  /* height: auto; */
  margin-right: -40px;
}

.estiloLetra {
  text-decoration: underline;
  color: #5DC2BA;
  font-weight: 700;
}

.estiloLetra2 {
  color: #5DC2BA;
  font-weight: 700;
}

.borde {
    border-style: solid;
    border-width: 0px 4px 0px 0px;
    border-color: #59C2BB;
}

.planta1{
  width: 16rem/* 240px */;
  position: absolute;
  left: 17%;
}

.planta2{
  width: 16rem/* 240px */;
  position: absolute;
  z-index: 5;
  right: 15%;
}

.contenedorUltimosClusters {
  background-color: #5DC2BA;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.contenedorCotizador {
  background-image: url(./assets/images/fondo-azul-cotizador_opt.jpg) ;
  width: 60%;
  display: flex;
  justify-content: center;
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  z-index: 20;
  margin-bottom: 2rem;
}

.contenedorCotizador p, .contenedorCotizador label {
  color: #fff;
}

.contenedorCotizador select {
  outline: none;
}




@media (max-width: 768px) { 

  .planta1 {
    display: none;
  }
 .planta2{
  display: none;
 }

 .circulo_ultimosClusters{
  margin-left:0px ;
  width: 23rem;
  height: 23rem;
 
}
.textos p {
  font-size: 0.9rem;
}

 .mapa{
  margin-right: 0px;
  width: 24rem;
  margin-top: 2rem;
 }

 .contenedorUltimosClusters {
  height: auto;
 }

 .contenedorCirculo {
  margin-top: -2rem;
  z-index: 10;
 }
 .contenedorCotizador p, 
 .contenedorCotizador label, 
 .contenedorCotizador input, 
 .contenedorCotizador select{
  text-align: center;
}
.contenedorCotizador {
  width: 75%;
}

.invertirImagenPlanta{
  display: none;
}

}

@media (min-width: 769px) {
  .bg-image-enviado { 
    background-image: url('./assets/images/fondo_enviado_opt.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
  }

}


