@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

.bg-image-seccion-1{
  background-image: url('./assets/images/3.jpg');
  background-size: cover;
  background-position: bottom center;
  
}

.bg-image-invierte{
  background-image: url('./assets/images/8_opt.jpg');
  background-size: cover;
  background-position: bottom center;
}

@media (max-width: 767.98px) {
  .bg-image-seccion-1 {
    background-image: url('./assets/images/banner-1-móvil.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom center;

  }
}

body {
  font-family: 'Montserrat', sans-serif!important;
}

.colorBanner{
  color:#257BAF;
}

.bg-color-banner{
  background-color: #257BAF;
}

.bg-movil{
  background-color: red;
}

.bg-amenidades {
  background-color: #F2F2F2;
}

.color-titulos {
  color: #6EC1E4;
}
.bg-btn-asesor {
  background-color:#6EC1E4 ;
}

.containerAmenidades div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.containerAmenidades div img{
  width: 6.5rem;
  aspect-ratio: 3/2;
  object-fit: contain;
  
}

.containerProducto img {
  width: 8rem;
  aspect-ratio: 3/2;
  object-fit: contain;
}


@media (max-width: 767.98px) {
  .containerAmenidades div img {
    width: 5rem;
  }
}

.containerAmenidades div p {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
}

.bg-productos {
  background-color: #C6C6C6;
}

:root {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}

.inputForm input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border: 2px solid #59C2BB;
 /*margin-top: 0.75rem;*/
  
  
}
.inputForm input::placeholder {
  color: #59C2BB;
}

.inputForm label {
  color:#59C2BB;
  font-weight: 600;

}

.bg-image-enviado { 
  background-image: url('./assets/images/fondo_enviado_opt.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}