@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

.bg-image-seccion-1{
  background-image: url('./assets/images/3.jpg');
  background-size: cover;
  background-position: bottom center;
  
}

.bg-image-invierte{
  background-image: url('./assets/images/8_opt.jpg');
  background-size: cover;
  background-position: bottom center;
}

@media (max-width: 767.98px) {
  .bg-image-seccion-1 {
    background-image: url('./assets/images/banner-1-móvil.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom center;

  }
}

body {
  font-family: 'Montserrat', sans-serif!important;
}

.colorBanner{
  color:#257BAF;
}

.bg-color-banner{
  background-color: #257BAF;
}

.bg-movil{
  background-color: red;
}

.bg-amenidades {
  background-color: #F2F2F2;
}

.color-titulos {
  color: #6EC1E4;
}
.bg-btn-asesor {
  background-color:#6EC1E4 ;
}

.containerAmenidades div img{
  width: 5rem;
  margin-left: auto!important;
  margin-right: auto!important;
}

.containerProducto img {
  width: 75%;
}


@media (max-width: 767.98px) {
  .containerAmenidades div img {
    width: 4rem;
  }
}

.containerAmenidades div p {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
}

.bg-productos {
  background-color: #C6C6C6;
}

.swiper-button-next, .swiper-button-prev {
  color: #fff; 
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}
